.main {
    text-align: center;
}

nav.menu {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 1em);
    padding: .5em;
    display: flex;
    justify-content: space-around;
}


nav.menu a {
    color: #ffffff;
    text-decoration: none;
}

nav.menu a.selected {
    color: #e0086a
}

.todo-list {
    list-style: none;
}

.todo-list li {
    border: 1px solid;
    color: white;
    background-color: coral;
    font-size: 2em;
}

.todo-list li:hover {
    cursor: pointer;
}

.add-task {
    margin-left: 5px;
}